extends ../layout

block content
    div
        form(method="get" action="/books/search/")
            input(type="text" name="search" placeholder="Search for books")
            input(type="submit" value="Search")
    
    h2 Search Results for:
    h3= search


    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in books
            if(book.author.toLowerCase().includes(search) || book.title.toLowerCase().includes(search) || book.year == search || book.genre.toLowerCase().includes(search)) 
                tr
                    td
                        a(href="/books/" + book.id)= book.title
                    td
                        =book.author
                    td
                        =book.genre
                    td
                        =book.year

        h4 
            a(href="/books/") Home