extends layout

block content
  h3= title
  div
    form(action="/", method="post")
        div
          label(for="title") Title  
          input(type="text", name="title", value=book.title)
        //- value=book.title
   
        div
          label(for="author") Author
          input(type="text", name="author")
        div
          label(for="year") Year
          input(type="number", name="year")
        input(type="submit")

